<label>Wybierz opcję:</label>
<form action="/submit" method="post">
  <% for (let option of options) { %>
    <input type="radio" name="option" value="<%= option.value %>" id="<%= option.id %>">
    <label for="<%= option.id %>">
      <%= option.label %>
    </label><br>
    <% } %>
      <button type="submit">Wyślij</button>
</form>