@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body, html, #root {
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    margin: 0px !important;
}

#top {
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#nav {
    width: 30%;
    height: 90%;
    position: fixed;
    left: 0;
    top: 10%;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
}

#nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#nav__list li {
    margin-bottom: 2px;
}

#nav__list a {
    color: black;
    cursor: pointer;
}

#display {
    position: fixed;
    left: 30%;
    top: 10%;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#screen {
    width: 80%;
    height: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 500px;
    max-height: 400px;
}

#screen h3 {
    margin: 0px;
    margin-top: 10px;
}

#screen img {
    height: 200px;
    width: auto;
}

.screen__flavour_text {
    width: 90%;
    text-align: center;
}

.screen__error {
    width: 80%;
    text-align: center;
}

.types {
    display: flex;
    flex-direction: row;
    gap: 8px; 
}

.types p {
    border-radius: 5px;
    border: 1px dotted black;
    padding: 10px;
    margin: 0px;
}