<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deklaracja do wydrukowania</title>
</head>

<body>
    <h1>Deklaracja do wydrukowania</h1>
    <p>Imię i nazwisko: <%= formData.firstName %>
            <%= formData.lastName %>
    </p>
    <p>Zajęcia: <%= formData.activity %>
    </p>
    <p>Zadania: <%= formData.taskResults.join(', ') %></p>
</body>
</html>