<!-- views/print.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printable Task Submission</title>
</head>

<body>
    <h1>Printable Task Submission</h1>
    <p>Name: <%= formData.firstName %>
            <%= formData.lastName %>
    </p>
    <p>Activity: <%= formData.activity %>
    </p>
    <p>Task Results: <%= formData.taskResults.join(', ') %></p>
</body>
</html>