@model Student

<h1>Edit Student</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Index"></label>
        <input asp-for="Index" />
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <input type="submit" value="Save" />
</form>
<a asp-action="Index">Back</a>
